<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">

    <title>FoxBot</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2.0.0/out/water.min.css"
        integrity="sha256-XOa0frC54FPfRzqpdo6eaopv0esa5f5lhdWKyZJe1ks=" crossorigin="anonymous">
</head>

<body>
    {% block content %}{% endblock %}

    <footer>
        <a href="https://t.me/FoxBot">@FoxBot</a> operated by <a href="https://syfaro.net">Syfaro</a>. Read more <a
            href="https://syfaro.net/blog/foxbot/">here</a>.
    </footer>

    <script async defer data-website-id="6db28695-0231-4ecc-bd02-1ff1746f60f0"
        src="https://u.syfaro.com/script.js" data-domains="foxbot.syfaro.com"></script>
</body>

</html>
